
* {
    padding:0;
    margin:0;    
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    text-align: center;
    color:#3498db;
    overflow: hidden;
    font-family: 'Shojumaru', 'cursive';
}
header {
    font-size: 4.5vw;
    background-color:#34495e;
     border-bottom: 1px solid #95a5a6;
}
.box {
    font-size:10vw;
    
}
.choices {
    width:50vw;
    margin: auto;
    border-bottom: 1px solid #95a5a6;
    
    margin-bottom: 10px;
    color: #2ecc71;
}
.comp {
    width:50vw;
    margin: auto;
    border-top:1px solid #95a5a6;
    margin-top: 10px;
    color:#c0392b;
}
.box span {
    margin: 2px 10px;
    border-radius: 25px;
    
}
.choices span:hover {
    color:#24a35a ;
    cursor: pointer;
    transition: all 0.4s ease;
}

.score-board {
    width: 25%;
    margin: auto;
    font-size: 4vw;
    border: 3px solid #95a5a6;
    background-color: #34495e;
}
.badge {
    font-size:2vw;
    
}
.results {
    font-size:2vw;
    width:100%;
    position: sticky;
    bottom:0;    
}
.green-glow {
    color: aquamarine;
    border-radius: 50%;
    box-shadow:0 0 10px aquamarine;
   
    
    
}
.red-glow {
    color: darkred;
    border-radius: 50%;
    box-shadow:0 0 10px red;
    
}

